.buttonsContainer {
  display: flex;
  gap: 21px;
}

.clock {
  display: flex;
  flex-direction: column;
}

.watch {
  margin-bottom: 8px;
}

.watch strong {
  font-weight: bold;
}

.more {
  margin-bottom: 27px;
  color: rgba(0, 0, 0, 0.50);
}