

.inputAndButtonContainer {
  display: flex;
  gap: 10px;
}

.error {
  color: #C00;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 400;
}

.input {
  min-width: 375px;
  border-radius: 5px;
  border: 1px solid #D1D1D1;
  padding: 10px;
  margin-bottom: 10px;
}

.input:focus {
  outline: 1px solid #D1D1D1;
}

.errorInput {
  min-width: 375px;
  border-radius: 5px;
  border: 1px solid #CC0000;
  padding: 10px;
}

.button {
  height: 36px;
  padding: 5px 24px;
  border-radius: 3px;
  opacity: 0.5;
  background: var(--primary-100, #06C);
  color: var(--light-140, #FFF);
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 600;
  line-height: 20px; 
}

.button:focus {
  outline: none;
  border: none;
  background: var(--primary-100, #06C);
  
}

.button:active {
  background: var(--primary-100, #06C);
  outline: none;
  border: none;
}

.button:disabled {
  border: none;
  outline: none;
}

.text {
color: rgba(0, 0, 0, 0.50);
font-family: 'Montserrat';
font-size: 14px;
font-weight: 400;
margin-bottom: 9px;
}